body{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: green;
    padding: 10px;
}

h1 {
    display: inline-block;
    padding-right: 100px;
}

nav{
    display: inline-block;
    padding-bottom: 20px;
}

header{
    border-bottom: 2px solid black;

}

p{
    padding-top: 10px;
}